# Ignore Eclipse files
/Final_Project/.settings/
/Final_Project/.classpath
/Final_Project/.project
/Final_Project/Credentials/API_Key.txt

# Ignore Maven output
/Final_Project/target/


# Ignore Test Output
/Final_Project/test-output
